# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdv
*.xmpi
_minted*/
*.pyg

# Uncomment if you do not want compiled PDFs tracked
# *.pdf
